* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.home,
.services,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  /* background-color: rosybrown; */
  background-image: url("https://images.unsplash.com/photo-1605289686707-c13ede6e7c75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1700&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 100px;
}

.products {
  /* background-color: silver; */
  background-image: url("https://images.unsplash.com/photo-1568484598912-bb6b697f0b48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2096&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 100px;
}
